*.md linguist-language=Markdown
index.html linguist-generated=true
service-worker.bundle.js linguist-generated=true
vendor.bundle-*.js linguist-vendored
vendor.bundle-*.css linguist-vendored
*.md linguist-documentation=false
